<!-- NGX MAT DATETIME PICKER -->
<div *ngIf="type == 1 && !formGroupInput">
  <mat-form-field (click)="DateTimePicker?.open()" floatLabel="never" class="custom-ngx-datetime">
    <input
      matInput
      [ngxMatDatetimePicker]="DateTimePicker"
      [(ngModel)]="dateTimeInput"
      (dateChange)="onInputDateChange($event)"
      [min]="minDate"
      [max]="maxDate"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [readonly]="readonlyInput"
      [required]="isRequired" />
    <mat-datepicker-toggle class="toggle-button" matSuffix [for]="$any(DateTimePicker)"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker
      #DateTimePicker
      [showSpinners]="showSpinners"
      [showSeconds]="showSeconds"
      [hideTime]="hideTime"
      [disabled]="disabled"
      [disableMinute]="disableMinute"
      [stepHour]="stepHour"
      [stepMinute]="stepMinute"
      [stepSecond]="stepSecond"
      [color]="color"
      [enableMeridian]="enableMeridian"
      [touchUi]="touchUi">
    </ngx-mat-datetime-picker>
  </mat-form-field>
</div>
<!-- NGX MAT DATETIME PICKER (FORM CONTROL) -->
<div *ngIf="type == 1 && formGroupInput">
  <form [formGroup]="formGroupInput">
    <mat-form-field (click)="DateTimePicker?.open()" floatLabel="never" class="custom-ngx-datetime">
      <input
        matInput
        [ngxMatDatetimePicker]="DateTimePicker"
        [min]="minDate"
        [max]="maxDate"
        [placeholder]="placeholder"
        [disabled]="disabled"
        [readonly]="readonlyInput"
        [formControlName]="formControlNameInput"
        [required]="isRequired" />
      <mat-datepicker-toggle class="toggle-button" matSuffix [for]="$any(DateTimePicker)"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker
        #DateTimePicker
        [showSpinners]="showSpinners"
        [showSeconds]="showSeconds"
        [hideTime]="hideTime"
        [disabled]="disabled"
        [disableMinute]="disableMinute"
        [stepHour]="stepHour"
        [stepMinute]="stepMinute"
        [stepSecond]="stepSecond"
        [color]="color"
        [enableMeridian]="enableMeridian"
        [touchUi]="touchUi">
      </ngx-mat-datetime-picker>
    </mat-form-field>
  </form>
</div>

<!-- MATERIAL DATE PICKER -->
<div *ngIf="type == 2 && !formGroupInput">
  <mat-form-field (click)="DatePicker?.open()" floatLabel="never" class="custom-mat-date">
    <input
      matInput
      [matDatepicker]="DatePicker"
      [(ngModel)]="dateTimeInput"
      (dateChange)="onInputDateChange($event)"
      [min]="minDate"
      [max]="maxDate"
      [disabled]="disabled"
      [readonly]="readonlyInput"
      [required]="isRequired"
      [placeholder]="placeholder" />
    <mat-datepicker-toggle class="toggle-button" matIconSuffix [for]="DatePicker"></mat-datepicker-toggle>
    <mat-datepicker #DatePicker [disabled]="disabled" [color]="color" [touchUi]="touchUi"></mat-datepicker>
  </mat-form-field>
</div>
<!-- MATERIAL DATE PICKER (FORM CONTROL) -->
<div *ngIf="type == 2 && formGroupInput">
  <form [formGroup]="formGroupInput">
    <mat-form-field (click)="DatePicker?.open()" floatLabel="never" class="custom-mat-date">
      <input
        matInput
        [matDatepicker]="DatePicker"
        [min]="minDate"
        [max]="maxDate"
        [disabled]="disabled"
        [readonly]="readonlyInput"
        (dateChange)="onInputDateChange($event)"
        [formControlName]="formControlNameInput"
        [required]="isRequired"
        [placeholder]="placeholder" />
      <mat-datepicker-toggle class="toggle-button" matIconSuffix [for]="DatePicker"></mat-datepicker-toggle>
      <mat-datepicker #DatePicker [disabled]="disabled" [color]="color" [touchUi]="touchUi"></mat-datepicker>
    </mat-form-field>
  </form>
</div>

<!-- NGX MAT TIME PICKER -->
<div *ngIf="type == 3 && !formGroupInput" class="col-md-12 col-lg-12">
  <mat-form-field (click)="p?.open()" floatLabel="never" class="custom-ngx-time">
    <input
      matInput
      [(ngModel)]="val"
      [disabled]="disabled"
      [readonly]="readonlyInput"
      [required]="isRequired"
      [placeholder]="placeholder"
      placement="bottom" />
    <mat-icon
      style="width: 24px; height: 24px; margin-right: 6px"
      (click)="stopProp($event)"
      #p="ngbPopover"
      matSuffix
      placement="bottom-end"
      [ngbPopover]="timePickerTemplate"
      [autoClose]="'outside'">
      access_time
    </mat-icon>
  </mat-form-field>

  <ng-template #timePickerTemplate>
    <div style="flex-direction: column; display: flex; align-items: center">
      <ngx-mat-timepicker
        #timePickerComponent
        [showSpinners]="showSpinners"
        [showSeconds]="showSeconds"
        [disabled]="disabled"
        [disableMinute]="disableMinute"
        [stepHour]="stepHour"
        [stepMinute]="stepMinute"
        [stepSecond]="stepSecond"
        [color]="color"
        [enableMeridian]="enableMeridian"
        (click)="stopProp($event)"
        [(ngModel)]="value"
        (ngModelChange)="changeTime($event, showSeconds)"></ngx-mat-timepicker>
    </div>
  </ng-template>
</div>
<!-- NGX MAT TIME PICKER (FORM CONTROL) -->
<div *ngIf="type == 3 && formGroupInput" class="col-md-12 col-lg-12">
  <form [formGroup]="formGroupInput">
    <mat-form-field (click)="p?.open()" floatLabel="never" class="custom-ngx-time">
      <input
        matInput
        [(ngModel)]="val"
        [disabled]="disabled"
        [readonly]="readonlyInput"
        [formControlName]="formControlNameInput"
        [required]="isRequired"
        [placeholder]="placeholder"
        placement="bottom" />
      <mat-icon
        style="width: 24px; height: 24px; margin-right: 6px"
        (click)="stopProp($event)"
        #p="ngbPopover"
        matSuffix
        placement="bottom-end"
        [ngbPopover]="timePickerTemplate"
        [autoClose]="'outside'">
        access_time
      </mat-icon>
    </mat-form-field>
  </form>
  <ng-template #timePickerTemplate>
    <div style="flex-direction: column; display: flex; align-items: center">
      <ngx-mat-timepicker
        #timePickerComponent
        [showSpinners]="showSpinners"
        [showSeconds]="showSeconds"
        [disabled]="disabled"
        [disableMinute]="disableMinute"
        [stepHour]="stepHour"
        [stepMinute]="stepMinute"
        [stepSecond]="stepSecond"
        [color]="color"
        [enableMeridian]="enableMeridian"
        (click)="stopProp($event)"
        [(ngModel)]="value"
        (ngModelChange)="changeTime($event, showSeconds)"></ngx-mat-timepicker>
    </div>
  </ng-template>
</div>

<!-- MATERIAL DATE RANGE PICKER -->
<div *ngIf="type == 4 && !formGroupInput">
  <mat-form-field (click)="DatrRangePicker?.open()" floatLabel="never" class="custom-mat-daterange">
    <mat-date-range-input [rangePicker]="DatrRangePicker">
      <input
        matStartDate
        [(ngModel)]="range.from"
        [min]="minDate"
        [max]="maxDate"
        (dateChange)="onInputDateChange($event)"
        [placeholder]="startPlaceholeder"
        [disabled]="disabled"
        [readonly]="readonlyInput"
        [required]="isRequired" />
      <input
        matEndDate
        [(ngModel)]="range.to"
        [min]="minDate"
        [max]="maxDate"
        (dateChange)="onInputDateChange($event)"
        [placeholder]="endPlaceholeder"
        [disabled]="disabled"
        [readonly]="readonlyInput"
        [required]="isRequired" />
    </mat-date-range-input>
    <mat-datepicker-toggle class="toggle-button" matIconSuffix [for]="DatrRangePicker"></mat-datepicker-toggle>
    <mat-date-range-picker #DatrRangePicker></mat-date-range-picker>
  </mat-form-field>
</div>
<!-- MATERIAL DATE RANGE PICKER (FORM CONTROL) -->
<div *ngIf="type == 4 && formGroupInput">
  <mat-form-field (click)="DatrRangePicker?.open()" floatLabel="never" class="custom-mat-daterange">
    <mat-date-range-input [formGroup]="formGroupInput" [rangePicker]="DatrRangePicker">
      <input
        matStartDate
        [min]="minDate"
        [max]="maxDate"
        (dateChange)="onInputDateChange($event)"
        [placeholder]="startPlaceholeder"
        [disabled]="disabled"
        [readonly]="readonlyInput"
        [formControlName]="formControlNameInputStart"
        [required]="isRequired" />
      <input
        matEndDate
        [min]="minDate"
        [max]="maxDate"
        (dateChange)="onInputDateChange($event)"
        [placeholder]="endPlaceholeder"
        [disabled]="disabled"
        [readonly]="readonlyInput"
        [formControlName]="formControlNameInputEnd"
        [required]="isRequired" />
    </mat-date-range-input>
    <mat-datepicker-toggle class="toggle-button" matIconSuffix [for]="DatrRangePicker"></mat-datepicker-toggle>
    <mat-date-range-picker #DatrRangePicker></mat-date-range-picker>
  </mat-form-field>
</div>
