::ng-deep .custom-ngx-datetime {
  cursor: pointer !important;
  input {
    cursor: pointer;
  }
  width: 100% !important;
  .mat-form-field-infix {
    position: inherit;
  }
  .mat-form-field-suffix {
    align-self: center;
    padding-right: 10px;
    .mat-datepicker-toggle .mat-icon-button span svg {
      width: 24px;
      height: 24px;
    }
  }
}

::ng-deep .custom-mat-date {
  cursor: pointer !important;
  input {
    cursor: pointer;
  }
  width: 100% !important;
  .mat-form-field-infix {
    display: flex;
    align-items: center;
    align-self: flex-end;
    padding: 0;
    border-top: 0;
  }
}

::ng-deep .custom-ngx-time {
  cursor: pointer !important;
  input {
    cursor: pointer;
  }
  width: 100% !important;
  .mat-form-field-infix {
    position: inherit;
  }
  .mat-form-field-suffix {
    cursor: pointer;
    align-self: center;
    color: #6c757d;
  }
}

::ng-deep .custom-mat-daterange {
  cursor: pointer !important;
  input {
    cursor: pointer;
  }
  width: 100% !important;
  .mat-form-field-infix {
    display: flex;
    align-items: center;
    align-self: flex-end;
    padding: 0;
    border-top: 0;
  }
}

::ng-deep td button.mat-calendar-body-cell {
  position: absolute !important;
  height: 100% !important;
}

::ng-deep td.mat-calendar-body-cell {
  position: relative !important;
  height: 0 !important;
}

mat-icon.disable {
  filter: opacity(0.5);
}
