<!-- TEST COMPONENT WITH NGMODEL -->
<mat-card>
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-lg-3 col-md-6">
        <h4><b>NGX MAT DATETIME PICKER</b></h4>
        <app-eqp-date-time-picker
          [type]="1"
          [disabled]="disable"
          [(ngModelInput)]="dateTimePickerWithTime"
          [placeholder]="''"
          [isRequired]="true"
          [showSeconds]="true"></app-eqp-date-time-picker>
        <p>{{ dateTimePickerWithTime }}</p>
      </div> -->
      <!-- <div class="col-lg-3 col-md-6">
        <h4><b>MATERIAL DATE RANGE PICKER</b></h4>
        <app-eqp-date-time-picker
          [type]="4"
          [disabled]="disable"
          [(ngModelInput)]="range"
          [startPlaceholeder]="''"
          [endPlaceholeder]="''"
          [isRequired]="true"></app-eqp-date-time-picker>
        <p>{{ range?.from }}</p>
        <p>{{ range?.to }}</p>
      </div> -->
      <div class="col-lg-3 col-md-6">
        <h4><b>NGX MAT TIME PICKER</b></h4>
        <app-eqp-date-time-picker
          [type]="3"
          [disabled]="disable"
          [(ngModel)]="timePickerInput"
          [placeholder]="''"
          [isRequired]="true"
          [showSeconds]="true"></app-eqp-date-time-picker>
        <p>{{ timePickerInput }}</p>
      </div>
      <!-- <div class="col-lg-3 col-md-6">
        <h4><b>MATERIAL DATE PICKER</b></h4>
        <app-eqp-date-time-picker
          [type]="2"
          [disabled]="disable"
          [(ngModelInput)]="date"
          [isRequired]="true"
          [placeholder]="''"></app-eqp-date-time-picker>
        <p>{{ date }}</p>
      </div> -->
    </div>
  </div>

  <!-- <button (click)="onClickSaveDateTime()" type="submit">save dateTime</button>
  <button (click)="onClickSaveRange()" type="submit">save dateRange</button>
  <button (click)="onClickSaveTime()" type="submit">save time</button>
  <button (click)="onClickSaveDate()" type="submit">save date</button> -->
</mat-card>

<!-- TEST COMPONENT WIT FORMGRUP -->
<mat-card>
  <div class="container-fluid">
    <form [formGroup]="formGroup">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <h4><b>NGX MAT DATETIME PICKER</b></h4>
          <app-eqp-date-time-picker
            [type]="1"
            [disabled]="disable"
            [formGroupInput]="formGroup"
            formControlNameInput="dateTimePickerWithTimeControl"
            [placeholder]="''"
            [isRequired]="true"
            [showSeconds]="true"></app-eqp-date-time-picker>
          <p>{{ this.formGroup.get("dateTimePickerWithTimeControl")?.value }}</p>
        </div>
        <!-- <div class="col-lg-3 col-md-6">
          <h4><b>MATERIAL DATE RANGE PICKER</b></h4>
          <app-eqp-date-time-picker
            [type]="4"
            [disabled]="disable"
            [formGroupInput]="formGroup"
            formControlNameInputStart="dateRangeControlStart"
            formControlNameInputEnd="dateRangeControlEnd"
            [startPlaceholeder]="''"
            [endPlaceholeder]="''"
            [isRequired]="true"></app-eqp-date-time-picker>
          <p>{{ this.formGroup.get("dateRangeControlStart")?.value }}</p>
          <p>{{ this.formGroup.get("dateRangeControlEnd")?.value }}</p>
        </div> -->
        <div class="col-lg-3 col-md-6">
          <h4><b>NGX MAT TIME PICKER</b></h4>
          <app-eqp-date-time-picker
            [type]="3"
            [disabled]="disable"
            [formGroupInput]="formGroup"
            formControlNameInput="timePickerInputControl"
            [placeholder]="''"
            [isRequired]="true"
            [showSeconds]="true"></app-eqp-date-time-picker>
          <p>{{ this.formGroup.get("timePickerInputControl")?.value }}</p>
        </div>
        <!-- <div class="col-lg-3 col-md-6">
          <h4><b>MATERIAL DATE PICKER</b></h4>
          <app-eqp-date-time-picker
            [type]="2"
            [disabled]="disable"
            [formGroupInput]="formGroup"
            formControlNameInput="dateControl"
            [isRequired]="true"
            [placeholder]="''"></app-eqp-date-time-picker>
          <p>{{ this.formGroup.get("dateControl")?.value }}</p>
        </div> -->
      </div>
    </form>
  </div>
</mat-card>
